/* Centers the header */
header {
  text-align: center;
}
/* Centers the h1 header inside header */
header h1 {
  text-align: center;
}
/* 
  Makes the container for each list that represents each answer choice a flexbox
  and puts each button on a separate line
*/
#buttons {
  display: flex;
  flex-direction: column;
}

/* Adds a margin of 5px to each list
   Makes each list float to the left
   Deletes the bullet points in front of each list
   Centers the text within each list
   Sets the background color of each list
   Adds a margin of 30px to the right of each list
   Makes each list 150px wide
   Sets the line height for each list */
#buttons li {
  margin-bottom: 5px;
  float: left;
  list-style: none;
  text-align: center;
  background-color: #333333;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
}

/* Changes the text and background colors for each list when the mouse hovers over it */
#buttons li:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33b5e5;
}

/* Centers the start button */
#start {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For the result page */

/* Configures the container for the form element */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #f0ead6;
}

/* Configures the input field of the form element */
input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  font-size: 18px;
}

/* Sets the container for the clear and goBack buttons to be a flexbox
   and sets its flex-direction to row so those two buttons appear on the same line */
#navBtns {
  display: flex;
  flex-direction: row;
}
